/*=== CSS IMPORTS ===*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*=== RESET ===*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  background-image: url("/assets/background.svg");
  background-color: #181E2A;
  background-repeat: no-repeat;
  background-size: contain;
}

footer, header, section {
  display: block;
}

/*=== FONTS ===*/

p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #FFFFFF;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

h2 {
  font-size: calc(1.325rem + .9vw);
}

h3 {
  font-size: calc(1.3rem + .6vw);
}

h4 {
  font-size: calc(1.275rem + .3vw);
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/*=== UTILS ===*/

.container {
  margin: 0 auto;
  width: 90%;
}

/*=== HEADER ===*/

header > img {
  margin-top: 1.188rem;
}

/*=== SECTION ONE ===*/

.sec-one {
  text-align: center;
}

.sec-one img {
  margin-top: 2.563rem;
}

.sec-one h1 {
  margin-top: 1.813rem;
}

.sec-one button {
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0.75rem 3.313rem;
  outline: none;
  cursor: pointer;
  border-radius: 1.375rem;
  border: none;
  background: linear-gradient(90deg, #4FC7D5 0%, #42B0D1 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sec-one button:hover{
  background: linear-gradient(90deg, #2EB2C2 0%, #2C95B4 100%);
}

/*=== SECTION TWO ===*/

.sec-two {
  margin-top: 7.813rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sec-two h6 {
  margin-top: 2rem;
}

.sec-two p {
  margin-bottom: 4rem;
}

/*=== SECTION THREE ===*/

.sec-three {
  margin-top: 6.313rem;
  display: flex;
  flex-direction: column;
}

.img-two {
  text-align: center;
}

.sec-three h6 {
  margin-top: 2.625rem;
}

.link-area {
  display: flex;
  align-items: center;
}

.link {
  margin-bottom: 0;
  margin-right: 0.25rem;
  font-size: 0.75rem;
  color: #63E2DB;
}

/*=== SECTION FOUR ===*/

.sec-four {
  margin-top: 9.563rem;
  display: flex;
  flex-direction: column;
}

.quote {
  position: absolute;
  top: -1rem;
  left: 0.5rem;
}

.card {
  position: relative;
  background-color: #21293C;
  border-radius: 0.375rem;
  padding: 1.5rem 1.188rem 0.938rem 1.188rem;
  margin-bottom: 1.25rem;
}

.card:last-child{
  margin-bottom: 20.063rem;
}

.person {
  display: flex;
  align-items: center;
}

.person p {
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 0;
  margin-left: 0.25rem;
}

.person p:last-child {
  font-size: 0.563rem;
  font-weight: 400;
}

/*=== CAPTURE AREA ===*/

.cap {
  display: flex;
  justify-content: center;
}

.capture-area {
  position: absolute;
  top: -10.938rem;
  text-align: center;
  background-color: #1C2230;
  border-radius: 0.375rem;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  padding: 2.375rem 1.563rem 2.063rem 1.563rem;
}

.capture {
  display: flex;
  flex-direction: column;
}

.capture input {
  padding: 0.875rem 1.188rem;
  border-radius: 1.375rem;
  border: none;
  outline: none;
}

.capture input::placeholder {
  color: #BFBFBF;
}

.capture button {
  font-weight: 500;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0.75rem 3.313rem;
  margin-top: 1.375rem;
  outline: none;
  cursor: pointer;
  border-radius: 1.375rem;
  border: none;
  background: linear-gradient(90deg, #4FC7D5 0%, #42B0D1 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.capture button:hover {
  background: linear-gradient(90deg, #2EB2C2 0%, #2C95B4 100%);
}

/*=== FOOTER ===*/

footer {
  position: relative;
  background-color: #0C1524;
  display: flex;
  flex-direction: column;
}

.footer-items {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  margin-top: 14.688rem;
}

.location {
  display: flex;
  align-items: center;
  margin-top: 2.188rem;
}

.location p {
  margin-bottom: 0;
  margin-left: 1.375rem;
}

.call {
  display: flex;
  align-items: center;
  margin-top: 1.375rem;
}

.call p {
  margin-bottom: 0;
  margin-left: 1.375rem;
}

.mail {
  display: flex;
  align-items: center;
  margin-top: 1.375rem;
}

.mail p {
  margin-bottom: 0;
  margin-left: 1.375rem;
}

.social {
  text-align: center;
}

.social img {
  margin-left: 0.75rem;
  margin-bottom: 2.5rem;
}

.first-links {
  margin-top: 4.5rem;
}

.second-links {
  margin-top: 2.375rem;
}

/*=== RESPONSIVE - ADJUSTS ===*/

@media (min-width: 696px) {

  body {
    background-image: url("/assets/background-2.svg");
  }

  .sec-one h1 {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
  }

  .sec-one p {
    max-width: 582px;
    margin-left: auto;
    margin-right: auto;
  }

  .sec-two p {
    max-width: 405px;
    margin-left: auto;
    margin-right: auto;
  }

  .sec-three p {
    max-width: 499px;
  }

  .card {
    max-width: 499px;
    margin-left: auto;
    margin-right: auto;
  }

  .capture-area {
    max-width: 499px;
  }

}

@media (min-width: 1024px) {

  .sec-two {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 951px;
  }

  .sec-two p {
    max-width: 319px;
  }

  .sec-three {
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1141px;
  }

  .capture-area {
    max-width: 864px;
  }

  .capture {
    flex-direction: row;
    align-items: center;
  }

  .capture input {
    flex: 1;
    height: 42px;
    margin-right: 20px;
  }

  .capture button {
    margin-top: 0;
  }

  .footer-items {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 64px;
    justify-content: space-evenly;
  }

  .footer-logo,
  .call,
  .mail,
  .first-links,
  .second-links {
    margin-top: 0;
  }

}

@media (min-width: 1166px){

  .sec-four {
    flex-direction: row;
    max-width: 1440px;
  }

  .card {
    margin-bottom: 20.063rem;
    margin-left: 15px;
    justify-content: space-evenly;
  }

}